<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\styles.css">
    <title>Form Mahasiswa</title>
</head>
<body>
    <div class="container">
        <h1>Form Data Mahasiswa</h1>
        <form action="/submit" method="POST">
            <label for="nama">Nama:</label>
            <input type="text" id="nama" name="nama" required>

            <label for="kelas">Kelas:</label>
            <input type="text" id="kelas" name="kelas" required>

            <label for="nim">NIM:</label>
            <input type="text" id="nim" name="nim" required>

            <button type="submit">Kirim</button>
        </form>
    </div>
</body>
</html>
